<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="../../assets/stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	<body>
		<div class = "container">
			<h1>Home#index</h1>
			<p>Find me in app/views/home/index.html.erb</p>


			<%= link_to 'See site listing', sites_path %>
		</div>
		<script src="http://code.jquery.com/jquery.js"></script>
	    <script src="js/bootstrap.min.js"></script>
	</body>
</html>